<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HEAD>
  <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="TEXT/HTML; charset=UTF-8">
  <TITLE>TMF Console</TITLE>
</HEAD>
<BODY>

<p style="color: green"><%= notice %></p>

<%= yield %>

</BODY>
